.menu-list {
    display: none;
}

.contacts-mail-tel {
    display: none;
}


.logo-web {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0, 03em;
    text-transform: uppercase;
    color: var(--iris, #4D5AE5);
    text-transform: uppercase;
}

.title-studio {
    color: #2E2F42;
}

.open-mobile-menu-btn {
    border: none;
    background: transparent;
    padding: 0;
    line-height: 0;
    float: right;
}


.open-mobile-menu-icon {
    fill: #2F2F37;
}

.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    width: auto;
    height: 56px;
    background: var(--white, #FFF);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.link {
    text-decoration: none;
}

.logo-web {
    color: var(--iris, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-display {
    display: flex;
    align-items: center;
}

.title-studio {
    color: #2E2F42;
}

.menu-list {
    display: none;
}


.menu-link {
    color: var(--navyblue, #2E2F42);

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;

    letter-spacing: 0.32px;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-link:hover {
    color: #404bbf;
}

.menu-link:focus {
    color: #404bbf;
}

.link-stidio::after {
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;

}

.link-portfolio {
    color: #2E2F42;
}

.link-contacts {
    color: #2E2F42;
}

.contacts-link-li {
    display: flex;
    gap: 40px;

}

.contacts-mail-tel {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-left: auto;


}

.contacts-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
    color: #404bbf;
}

.contacts-link:focus {
    color: #404bbf;
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 25.5px;
        padding-bottom: 25.5px;
        width: auto;
        height: 72px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }


    .open-mobile-menu-btn {
        display: none;
    }

    .logo-web {
        margin-right: 120px;
    }

    .menu-list {

        display: inline-flex;
        height: 48px;
        gap: 40px;
        align-items: center;
    }

    .div-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contacts-mail-tel {
        display: flex;
        color: #434455;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
    }

    .contacts-link-li {
        flex-direction: column;
        gap: 12px;
    }

}

@media screen and (min-width: 1158px) {
    .header {
        padding-top: 25.5px;
        padding-bottom: 25.5px;
        width: auto;
        height: 72px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }


    .open-mobile-menu-btn {
        display: none;
    }

    .logo-web {
        margin-right: 120px;
    }

    .menu-list {
        display: flex;
        height: 24px;
        justify-content: center;
        align-items: center;
    }

    .div-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contacts-mail-tel {
        color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;

    }

    .contacts-link-li {
        flex-direction: row;
        gap: 40px;
    }
}